<script>
 import NoteRow from '$lib/NoteRow.svelte'
 export let track;
 export let totalDur;
 let colAmount = 1;
 let rowAmount = Object.keys(track).length
</script>





<style>
 tr {
    overflow: hidden;
    white-space: nowrap;
 }

 /* hackey? */
 td {
     line-height: 0px;
 }

 .row p {
     font-size: 4px;
     color: red;
 }
</style>


<table>
{#each Array(rowAmount) as _,row}
    <tr>
        {#each Array(colAmount) as _,col}
            <td class="row">
                <NoteRow
                    noteArr={track[row]}
                    dur={totalDur}
                />
            </td>
        {/each}
    </tr>
{/each}
</table>
