<svelte:window bind:innerWidth={screenWidth} />

<script>
 import {onMount} from 'svelte';

 export let noteArr;
 export let dur;
 export let tcolor = "red"

 noteArr = noteArr.sort((a,b)=>a.playTime<b.playTime)
 //box size is static for now so our resolution should go down with width
 export let boxSize=4;


 let screenWidth
 let tickLength = 60; //one block 60 ms
 let lineLength
 let renderRow
 $: lineLength = Math.floor(screenWidth/boxSize)

 let box = String.fromCharCode(9608)
 let joiner = String.fromCharCode(65279)

 /*
  * Takes the note arr and the total length of characters on a line
  *
  */
 function genNoteRow(arr, charlength){
     let output = ''
     if (arr.length==0) return output
     const firstStart = arr[0].playTime
     if(firstStart>0){
         let l = Math.floor(firstStart/tickLength)
         output += addChars(l,box,"white")
     }
     for(let i=0; i<arr.length-2; i+=2){
         let tickDur = arr[i+1].playTime - arr[i].playTime
         tickDur = Math.floor(tickDur);
         output+=addChars(tickDur,box,tcolor)
         let stickDur = arr[i+2].playTime - arr[i+1].playTime
         stickDur = Math.floor(stickDur)
         output+=addChars(stickDur,box,"white")
     }
     console.log(output)
     return output;
 }

 function addChars(n, char, color = "red"){
     let out = ''
     for(let i = 0; i<n; i++) {
         out+=char
     }
     return `<span style="color: ${color}">${out}</span>`;
 }

 onMount(()=>{
     tickLength = boxSize/screenWidth
     lineLength = Math.floor(screenWidth/(boxSize/2))
     renderRow = genNoteRow(noteArr, lineLength*2)
     // renderRow = "hey"
     // renderRow = "hi"
 })
</script>


<p style="font-size: {boxSize}px;">
    {@html renderRow}
</p>
