

<script context='module'>
 import _load from '$lib/loadMIDIBytes'
 export const load = _load
</script>

<script>
 import Grid from '$lib/Grid.svelte'
 export let mididata;
 export let tcount;
 export let totalDur;
</script>

<h1>midi art</h1>
<p> the total dur: {totalDur}</p>
<Grid track={mididata[5]} totalDur={totalDur} />
